{% extends "layout.html" %}
{% block body %}
<header>
  <nav>
    <a href="{{ url_for('index.index') }}"><img src="{{ url_for('static', filename='pictures/logo.png') }}" style="width:200px" alt="" /></a>
    <ul>
      <li class="menuItem"><a href="{{ url_for('index.index') }}">Home</a></li>
      <li class="menuItem"><a href="{{ url_for('index.about') }}">About Us</a></li>
      {% if not session.get('logged_in') %}
      <li class="menuItem"><a href="{{ url_for('user.registration') }}">Register</a></li>
      <li class="menuItem active"><a href="{{ url_for('user.login') }}">Login</a></li>
      {% elif session.get('user_id') %}
      <li class="menuItem"><a href="{{ url_for('user.profile') }}">Profile</a></li>
      <li class="menuItem"><a href="{{ url_for('user.logout') }}">Logout</a></li>
      {% else %}
      <li class="menuItem"><a href="{{ url_for('hospital.manage') }}">Manage</a></li>
      <li class="menuItem"><a href="{{ url_for('hospital.logout') }}">Logout</a></li>
      {% endif %}
      <li class="menuItem"><a href="{{ url_for('index.contacts') }}">Contact Us</a></li>
    </ul>
  </nav>
</header>

{% if error %}
<p class="error"><strong>Error:</strong>{{ error }}</p>
{% endif %}

<div class="form">
  <h1>Login</h1>
  <form class="cmxform" id="signupForm" action="{{ url_for('user.login') }}" method="post">

    <div class="formitem">
      <p>
        <label for="email" syle="margin-bottom:2px">Email</label></br>
        <input id="email" name="email"  type="email" placeholder="user@email.com">
      </p>
    </div>

    <div class="formitem">        
      <p>
        <label for="password">Password </label></br>
        <input id="password" name="password" type="password"  placeholder="******">
      </p>
    </div>
    <div class="formitem">
        <p>
          <input type="submit" value="Login" name="S'inscrire" class="iscrit"/>
        </p>
    </div>
  </div>
    
  </form>
</div>
{% endblock %}
