<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Inscription</title>
	
	<link type="text/css" href="css/style.css" rel="stylesheet" />
	
	<script src="lib/jquery.js"></script>
	<script src="dist/jquery.validate.js"></script>
	
	<script>
	</script>
	

		<style >

	input[type=submit].search_button{
    background-color: 

;
    height: 40px;
    font-size: 17px;
    margin-bottom: 50px;
    color: white;
}

	</style>
	
	
	<style>
	
	#signupForm label.error {
		margin-left: 10px;
		width: auto;
		display: block;
		color : red;
		
	#signupForm label {
	margin-top : 5px;
	}
	}
		

	</style>
</head>
<body>



<header>




    <nav>
        <a href="home.html"><img src="pictures/logo1.png" alt="" /></a>
        <ul>

            <li class="menuItem" ><a href="Home.html">Accueil</a></li>
            <li class="menuItem"><a href="News.html">News</a></li>
            <li class="menuItem"><a href="Cours.html">Cours</a> </li>
            <li class="menuItem"><a href="Exercice.html">Exercices</a></li>
            <li class="menuItem"><a href="Téléchargement.html">Téléchargement</a></li>
            <li class="menuItem" style="background-color: #D32F2F"><a href="Inscription.html">Inscription</a></li>
            <li class="menuItem"  ><a href="Contact.html">Contacts</a></li>
        </ul>
    </nav>
	

	
</header>


<div class="home">
    <p>Search For Donors </p>
</div>

<div class="form", style = "margin-top: 0">
	<form class="cmxform" id="signupForm" method="get" action="">
		<div style="clear : both">  			
			<div>
				<p style="float : left" >
					<label for="Blood Type">Blood Type </label></br>
					<input id="Blood Type" name="Blood Type" type="text"  placeholder="Blood Type">
				</p>		
				<p style="float : left; margin-left: 100px;" >
					<label for="location">Location / Neighbourhood  </label></br>
					<input id="location" name="location" type="text"  placeholder="Location/ Neighbourhood">
				<p style="float: left, margin-left: 100px ;">
					<input type="submit" value="Search" name="S'inscrire" class="search_button" style="margin: 35px 100px;">
				</p> 


<table>
	<tr style = " background-color: #D32F2F ; color : white;">
		<td>First Name</td>
		<td>Last Name</td>
		<td>Blood Type</td>
		<td>Last Contacted</td>
	</tr>

	<tr style = "background-color: rgba(0,190,156,0.2);" >
		<td>Muaz</td>
		<td> Ahmad</td>
		<td>B+</td>
		<td></td>
	</tr>

	<tr  style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr  style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr  style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr  style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr  style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td ></td>
		<td></td>
		<td></td>
	</tr>

	<tr style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr style = "background-color: rgba(0,190,156,0.2);" >
		<td></td>
		<td ></td>
		<td></td>
		<td></td>
	</tr>

</table>


			</div>
		</div>
	</form>
</div>
</body>


<!-- <footer>
    <ul>
        <li ><img src="pictures/arrow487.png" ><a href="Home.html">Accueil</a></li>
        <li ><img src="pictures/arrow487.png" ><a href="#">News</a></li>
        <li ><img src="pictures/arrow487.png" ><a href="Cours.html">Cours</a> </li>
        <li><img src="pictures/arrow487.png" ><a href="#">Exercices</a></li>

        <li ><img src="pictures/arrow487.png" ><a href="Téléchargement.html">Téléchargement</a></li>
        <li ><img src="pictures/arrow487.png" ><a href="#">Inscription</a></li>
        <li  ><img src="pictures/arrow487.png" ><a href="Contact.html">Contacts</a></li>
    </ul>
    <ul>
        <li>
            <img src="pictures/email6.png" >
            <b>Contact</b>
            </br> Entreprise@gmail.com</p></li>
        <li>
            <img src="pictures/telephone37.png">
            <b>Téléphone</b>
            </br>+213562384</li>
        <li>
            <img src="pictures/share12.png">
            <b>Social</b>
            </br>facebook/entreprise
        </li>
        <li>

            <img src="pictures/c.png">
            <b>Creation</b>
            </br>
            All copyrights reserved</li>
    </ul>
</footer>
 -->

 <!-- 				<select name="wilaya">
	<option value="16">Al Aman</option>
	<option value="16">Al Bateen</option>
	<option value="16">Al Dhafrah</option>
	<option value="16">Al Falah</option>
	<option value="16">Al Karama</option>
	<option value="16">Al Khubeirah</option>
	<option value="16">Al Lulu Island</option>
	<option value="16">Al Madina</option>
	<option value="16">Al Manaseer</option>
	<option value="16">Al Manhal</option>
	<option value="16">Al Maqtaa</option>
	<option value="16">Al Markaziyah</option>
	<option value="16">Al Meena</option>
	<option value="16">Al Moroor</option>
	<option value="16">Al Mushrif</option>
	<option value="16">Al Muzoon</option>
	<option value="16">Al Nahyan</option>
	
	
<option value="16"> Al Qubesat</option>
<option value="16"> Al Ras Al Akhdar </option>
<option value="16">Al Reem Island</option>
<option value="16">Al Rehhan</option>
<option value="16">Al Rowdah</option>
<option value="16">Al Zaab</option>
<option value="16">Al Zahiyah</option>
<option value="16">Al Zahraa</option>
<option value="16">Al Khalidyah</option>
<option value="16">Bain Al Jisrain</option>
<option value="16">Hideriyyat</option>
<option value="16">Khalifa City</option>
<option value="16">Marina Village</option>
<option value="16">Masdar City</option>
<option value="16">Mohammed Bin Zayed City</option>
<option value="16">Saadiyat Island</option>
<option value="16">Shakhbout City</option>
<option value="16">Officers City</option>
<option value="16">Qasr El Bahr</option>
<option value="16">Qasr El Shatie</option>
<option value="16">Yas Island</option>
				
				
				</select> -->
</html>
