.header {
	margin-left:20px;
	margin-top:20px;
	background-color: #D50000;
	height: 70px;
	padding: 0px;
	border-top: 0px;
}
.container {
	background-color: #D50000;
}

ul {
	margin-left: 90%;
	margin-bottom: 20%;
}

/*margins are assigned clockwise*/
h1 { 
	margin-left: 50px;
	margin-top:30px;
	outline-color: red
}

.btn-group{
	margin-left: 42.5%;
	outline-color: red;
}

div.item{
	width:100%;
	height:100%;
}

div.item > img{
	margin-left:auto;
	margin-right:auto;
}

.carousel-example-generic {
	margin-top:30%;
}