{% extends "layout.html" %}
{% block body %}
	<header>
		<nav>
			<a href="{{ url_for('index.index') }}"><img src="{{ url_for('static', filename='pictures/logo.png') }}" style="width:200px" alt="" /></a>
			<ul>
				<li class="menuItem active"><a href="{{ url_for('index.index') }}">Home</a></li>
				<li class="menuItem"><a href="{{ url_for('index.about') }}">About Us</a></li>
				{% if not session.get('logged_in') %}
					<li class="menuItem"><a href="{{ url_for('user.registration') }}">Register</a></li>
					<li class="menuItem"><a href="{{ url_for('user.login') }}">Login</a></li>
				{% elif session.get('user_id') %}
					<li class="menuItem"><a href="{{ url_for('user.profile') }}">Profile</a></li>
					<li class="menuItem"><a href="{{ url_for('user.logout') }}">Logout</a></li>
				{% else %}
					<li class="menuItem"><a href="{{ url_for('hospital.manage') }}">Manage</a></li>
					<li class="menuItem"><a href="{{ url_for('hospital.logout') }}">Logout</a></li>
				{% endif %}
				<li class="menuItem"><a href="{{ url_for('index.contacts') }}">Contact Us</a></li>
			</ul>
		</nav>
	</header>

	<div class="form">
		<section id="slideshow">
			<div class="container">
				<div class="slider">
					<figure>
						<img src="{{ url_for('static', filename='pictures/4.png') }}" alt="" />

					</figure><!--
					--><figure>
						<img src="{{ url_for('static', filename='pictures/2.png') }}" alt="" />

					</figure><!--
					--><figure>
						<img src="{{ url_for('static', filename='pictures/3.png') }}" alt="" />

					</figure><!--
					--><figure>
						<img src="{{ url_for('static', filename='pictures/1.png') }}" alt="" />
					</figure>

				</div>
			</div>	
		</section>
	</div>

	<div class="slider_cont">
		<p>  </p>
	</div>
{% endblock %}